	<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>nev</key>
		<string>Matematikai analízis II.</string>
		<key>felev</key>
		<string>2</string>
		<key>kredit</key>
		<string>4</string>
        <key>targykod</key>
        <string>VEMIMAB244M</string>
	</dict>
    <dict>
        <key>nev</key>
        <string>Matematikai analízis I.</string>
        <key>felev</key>
        <string>1</string>
        <key>kredit</key>
        <string>6</string>
        <key>targykod</key>
        <string>VEMIMUB544M</string>
    </dict>
</array>
</plist>
