<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>nev</key>
		<string>Vállalkozói ismeretek</string>
		<key>felev</key>
		<string>3</string>
		<key>kredit</key>
		<string>4</string>
		<key>targykod</key>
		<string>VEGTGAB244V</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>Matematikai analízis II.</string>
		<key>felev</key>
		<string>2</string>
		<key>kredit</key>
		<string>4</string>
		<key>targykod</key>
		<string>VEMIMAB244M</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>Matematikai analízis I.</string>
		<key>felev</key>
		<string>1</string>
		<key>kredit</key>
		<string>6</string>
		<key>targykod</key>
		<string>VEMIMAB146M</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>Numerikus és szimulációs környezetek a mérnöki alkalmazásokban</string>
		<key>felev</key>
		<string>0</string>
		<key>kredit</key>
		<string>2</string>
		<key>targykod</key>
		<string>VEMIVIB512N</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>A digitális számítás elmélete</string>
		<key>felev</key>
		<string>2</string>
		<key>kredit</key>
		<string>4</string>
		<key>targykod</key>
		<string>VEMISA3244D</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>Java programozás</string>
		<key>felev</key>
		<string>3</string>
		<key>kredit</key>
		<string>4</string>
		<key>targykod</key>
		<string>VEMIIR2254J</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>Közgazdaságtan</string>
		<key>felev</key>
		<string>1</string>
		<key>kredit</key>
		<string>4</string>
		<key>targykod</key>
		<string>VEMKGA1114A</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>Projekt labor</string>
		<key>felev</key>
		<string>5</string>
		<key>kredit</key>
		<string>6</string>
		<key>targykod</key>
		<string>VEMISA3136P</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>Informatikai biztonság</string>
		<key>felev</key>
		<string>5</string>
		<key>kredit</key>
		<string>6</string>
		<key>targykod</key>
		<string>VEMIIR3356B</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>Informatikai rendszerek konfigurálása és üzemeltetése</string>
		<key>felev</key>
		<string>5</string>
		<key>kredit</key>
		<string>4</string>
		<key>targykod</key>
		<string>VEMIIR5354I</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>Valószín?ségszámítás és matematikai statisztika</string>
		<key>felev</key>
		<string>3</string>
		<key>kredit</key>
		<string>4</string>
		<key>targykod</key>
		<string>VEMKMA1344B</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>Valószín?ségszámítás és matematikai statisztika</string>
		<key>felev</key>
		<string>3</string>
		<key>kredit</key>
		<string>4</string>
		<key>targykod</key>
		<string>VEMKMA1344B</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>Honvédelmi alapismeretek</string>
		<key>felev</key>
		<string>0</string>
		<key>kredit</key>
		<string>3</string>
		<key>targykod</key>
		<string>VEMTSV5300H</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>Vállalati gazdaságtan</string>
		<key>felev</key>
		<string>2</string>
		<key>kredit</key>
		<string>4</string>
		<key>targykod</key>
		<string>VEGTGAB144A</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>Angol nyelvi kollokviumi vizsga</string>
		<key>felev</key>
		<string>2</string>
		<key>kredit</key>
		<string>0</string>
		<key>targykod</key>
		<string>VEMKLE12X0A</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>Angol nyelvi záróvizsga</string>
		<key>felev</key>
		<string>3</string>
		<key>kredit</key>
		<string>0</string>
		<key>targykod</key>
		<string>VEMKLE22X0A</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>Testnevelés I.</string>
		<key>felev</key>
		<string>1</string>
		<key>kredit</key>
		<string>0</string>
		<key>targykod</key>
		<string>VEPETO1122A</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>Testnevelés II.</string>
		<key>felev</key>
		<string>2</string>
		<key>kredit</key>
		<string>0</string>
		<key>targykod</key>
		<string>VEPETO2222A</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>Testnevelés III.</string>
		<key>felev</key>
		<string>3</string>
		<key>kredit</key>
		<string>0</string>
		<key>targykod</key>
		<string>VEPETO3122A</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>Testnevelés IV.</string>
		<key>felev</key>
		<string>4</string>
		<key>kredit</key>
		<string>0</string>
		<key>targykod</key>
		<string>VEPETO4222A</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>Angol nyelv I. (4 óra)</string>
		<key>felev</key>
		<string>1</string>
		<key>kredit</key>
		<string>0</string>
		<key>targykod</key>
		<string>VEMKLE1120A</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>Angol nyelv II. (4 óra)</string>
		<key>felev</key>
		<string>2</string>
		<key>kredit</key>
		<string>0</string>
		<key>targykod</key>
		<string>VEMKLE1220A</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>Angol nyelv III. (4 óra)</string>
		<key>felev</key>
		<string>3</string>
		<key>kredit</key>
		<string>0</string>
		<key>targykod</key>
		<string>VEMKLE2120A</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>Angol nyelv IV. (4 óra)</string>
		<key>felev</key>
		<string>4</string>
		<key>kredit</key>
		<string>0</string>
		<key>targykod</key>
		<string>VEMKLE2220A</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>Kutatás-fejlesztés</string>
		<key>felev</key>
		<string>4</string>
		<key>kredit</key>
		<string>2</string>
		<key>targykod</key>
		<string>VEMIKNB312F</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>Programozás II.</string>
		<key>felev</key>
		<string>2</string>
		<key>kredit</key>
		<string>4</string>
		<key>targykod</key>
		<string>VEMISA2254B</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>Digitális technika I.</string>
		<key>felev</key>
		<string>2</string>
		<key>kredit</key>
		<string>2</string>
		<key>targykod</key>
		<string>VEMIVI1112D</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>Számítógépes perifériák</string>
		<key>felev</key>
		<string>3</string>
		<key>kredit</key>
		<string>2</string>
		<key>targykod</key>
		<string>VEMIKN1252P</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>Korszerű programozási technikák</string>
		<key>felev</key>
		<string>3</string>
		<key>kredit</key>
		<string>4</string>
		<key>targykod</key>
		<string>VEMISA2354K</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>Szoftvertechnológia</string>
		<key>felev</key>
		<string>3</string>
		<key>kredit</key>
		<string>4</string>
		<key>targykod</key>
		<string>VEMKSA3114S</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>Digitális technika II.</string>
		<key>felev</key>
		<string>3</string>
		<key>kredit</key>
		<string>2</string>
		<key>targykod</key>
		<string>VEMIVI2112D</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>Adatstruktúrák és algoritmusok</string>
		<key>felev</key>
		<string>2</string>
		<key>kredit</key>
		<string>4</string>
		<key>targykod</key>
		<string>VEMISA3144A</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>Méréselmélet</string>
		<key>felev</key>
		<string>4</string>
		<key>kredit</key>
		<string>2</string>
		<key>targykod</key>
		<string>VEMIVI2212M</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>Digitális rendszerek és számítógép architektúrák</string>
		<key>felev</key>
		<string>4</string>
		<key>kredit</key>
		<string>4</string>
		<key>targykod</key>
		<string>VEMKKN3214A</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>Operációs rendszerek</string>
		<key>felev</key>
		<string>4</string>
		<key>kredit</key>
		<string>4</string>
		<key>targykod</key>
		<string>VEMKSA3244O</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>Adatbáziskezelő rendszerek elmélete (angol nyelven)</string>
		<key>felev</key>
		<string>3</string>
		<key>kredit</key>
		<string>2</string>
		<key>targykod</key>
		<string>VEMISA3312A</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>Mesterséges intelligencia</string>
		<key>felev</key>
		<string>4</string>
		<key>kredit</key>
		<string>2</string>
		<key>targykod</key>
		<string>VEMISA3242M</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>Információ és hírközléselmélet</string>
		<key>felev</key>
		<string>5</string>
		<key>kredit</key>
		<string>2</string>
		<key>targykod</key>
		<string>VEMIIR3112I</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>Számítógép-hálózatok II.</string>
		<key>felev</key>
		<string>5</string>
		<key>kredit</key>
		<string>4</string>
		<key>targykod</key>
		<string>VEMIIR3354H</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>Adatbáziskezelő rendszerek alkalmazása</string>
		<key>felev</key>
		<string>5</string>
		<key>kredit</key>
		<string>4</string>
		<key>targykod</key>
		<string>VEMKSA5144A</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>Gyártórendszerek modellezése</string>
		<key>felev</key>
		<string>5</string>
		<key>kredit</key>
		<string>3</string>
		<key>targykod</key>
		<string>VEMISA3143G</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>A rendszerfejlesztés korszerű módszerei</string>
		<key>felev</key>
		<string>6</string>
		<key>kredit</key>
		<string>4</string>
		<key>targykod</key>
		<string>VEMISA3344R</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>Mérnöki tervezés</string>
		<key>felev</key>
		<string>6</string>
		<key>kredit</key>
		<string>10</string>
		<key>targykod</key>
		<string>VEMIINB33XT</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>Szakdolgozat</string>
		<key>felev</key>
		<string>7</string>
		<key>kredit</key>
		<string>15</string>
		<key>targykod</key>
		<string>VEMIINB33XS</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>Elektromosságtan</string>
		<key>felev</key>
		<string>2</string>
		<key>kredit</key>
		<string>4</string>
		<key>targykod</key>
		<string>VEMIVI2144E</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>Lineáris algebra</string>
		<key>felev</key>
		<string>1</string>
		<key>kredit</key>
		<string>3</string>
		<key>targykod</key>
		<string>VEMKMA1143V</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>Az informatika logikai és algebrai alapjai</string>
		<key>felev</key>
		<string>1</string>
		<key>kredit</key>
		<string>4</string>
		<key>targykod</key>
		<string>VEMIMA1344I</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>Programozás alapjai</string>
		<key>felev</key>
		<string>1</string>
		<key>kredit</key>
		<string>4</string>
		<key>targykod</key>
		<string>VEMISA1144A</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>Programozás I.</string>
		<key>felev</key>
		<string>1</string>
		<key>kredit</key>
		<string>4</string>
		<key>targykod</key>
		<string>VEMKSA2144B</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>Bevezetés a számítástechnikába</string>
		<key>felev</key>
		<string>1</string>
		<key>kredit</key>
		<string>4</string>
		<key>targykod</key>
		<string>VEMKVI2114I</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>Diszkrét matematika</string>
		<key>felev</key>
		<string>2</string>
		<key>kredit</key>
		<string>3</string>
		<key>targykod</key>
		<string>VETKMA1243D</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>Fizika II.</string>
		<key>felev</key>
		<string>2</string>
		<key>kredit</key>
		<string>2</string>
		<key>targykod</key>
		<string>VEMKFI1312B</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>Elektronikus elemek és áramkörök laborgyakorlat</string>
		<key>felev</key>
		<string>3</string>
		<key>kredit</key>
		<string>2</string>
		<key>targykod</key>
		<string>VEMIVIB132E</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>Fizika I.</string>
		<key>felev</key>
		<string>1</string>
		<key>kredit</key>
		<string>2</string>
		<key>targykod</key>
		<string>VEMKFI1312A</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>Elektronikus elemek és áramkörök</string>
		<key>felev</key>
		<string>3</string>
		<key>kredit</key>
		<string>3</string>
		<key>targykod</key>
		<string>VEMIVIB313E</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>Irányításelmélet és technika I.</string>
		<key>felev</key>
		<string>4</string>
		<key>kredit</key>
		<string>4</string>
		<key>targykod</key>
		<string>VEMKVI2244I</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>Számítógép-hálózatok I.</string>
		<key>felev</key>
		<string>4</string>
		<key>kredit</key>
		<string>4</string>
		<key>targykod</key>
		<string>VEMIIRB214S</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>3D-s technológiák a játékfejlesztésben</string>
		<key>felev</key>
		<string>0</string>
		<key>kredit</key>
		<string>2</string>
		<key>targykod</key>
		<string>VEMISVSA32J</string>
	</dict>
	<dict>
		<key>nev</key>
		<string>Játékfejlesztés alapjai</string>
		<key>felev</key>
		<string>0</string>
		<key>kredit</key>
		<string>4</string>
		<key>targykod</key>
		<string>VEMIVIR354J</string>
	</dict>
</array>
</plist>
